{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow p-4">
            <h2 class="mb-4">Criar Novo Post de Seguros</h2>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.media }} {{ form.as_p }}
                
                <div class="mt-3">
                    <button type="submit" class="btn btn-success">Publicar Post</button>
                    <a href="{% url 'pages' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}