{% extends "base.html" %}

{% block content %}
<article>
    <h1>{{ object.titulo }}</h1>
    <h3>{{ object.subtitulo }}</h3>
    <hr>
    {% if object.imagem %}
        <img src="{{ object.imagem.url }}" style="max-width: 100%; height: auto; border-radius: 10px;">
    {% endif %}
    
    <div style="margin-top: 20px;">
        {{ object.corpo|safe }}
    </div>
    
    <p style="margin-top: 30px;"><small>Publicado por {{ object.autor }} em {{ object.data }}</small></p>
    <a href="{% url 'pages' %}">Voltar para a lista</a>
</article>
{% endblock %}